body {
    cursor: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
}

.fl-widget-provider {
    border: 0;
    width: 100%;
    background-color: transparent;
}

#action {
    overflow: hidden;
}

.form-horizontal {
    height: 100%;
    padding: 15px;
    overflow: auto;
}

.add-link {
    margin-top: 10px;
}
/*BUTTONS*/
.btn {
    border-radius: 6px;
    line-height: 44px;
    padding: 0 15px;
    border: none;
}

.btn-default {
    color: #333;
    background-color: #e4e9eb;
    border-bottom: 2px solid #cfd3d5;
}

.btn-default:active,
.btn-default:active:focus,
.btn-default:active:hover,
.btn-default:focus,
.btn-default:hover {
    color: #333;
    background-color: #cfd3d5;
    border-color: #cfd3d5;
    outline: none;
}

.btn-primary {
    color: #FFF;
    background-color: #00abd2;
    border-bottom: 2px solid #0087a6;
}

.btn-primary:active,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary:focus,
.btn-primary:hover {
    color: #FFF;
    background-color: #0087a6;
    border-color: #0087a6;
    outline: none;
}

.btn-danger {
    color: #FFF;
    background-color: #d9534f;
    border-bottom: 2px solid #c9302c;
}

.btn-danger:active,
.btn-danger:active:focus,
.btn-danger:active:hover,
.btn-danger:focus,
.btn-danger:hover {
    color: #FFF;
    background-color: #c9302c;
    border-color: #c9302c;
    outline: none;
}

.btn-link,
a {
    color: #00abd2;
}

.btn-link.text-danger {
    color: #d9534f;
}

.btn-link:active.text-danger,
.btn-link:active:focus.text-danger,
.btn-link:active:hover.text-danger,
.btn-link:focus.text-danger,
.btn-link:hover.text-danger {
    color: #c9302c;
}

header {
    display: flex;
    font-size: 1em;
    border-bottom: 1px solid #E3E9EB;
    margin-bottom: 3rem;
    padding-bottom: 1.5em;
}

header.titles {
    font-weight: bold;
}

header p {
    flex: 1;
    margin: 0 1.4rem 0 0;
}

header a {
    text-decoration: none;
}

.titles {
    font-size: 1em;
    border-bottom: 1px solid #E3E9EB;
    margin-bottom: 2rem;
    padding-bottom: 1em;
}

.titles p {
    font-weight: bold;
    margin: 0;
}

.tab-content {
    padding: 15px 0 0;
}

.tab-pane-content {
    /*overflow: hidden;*/
}
/* FORMS */
.panel-body {
    padding: 0;
}

label {
    font-weight: normal;
    color: #14505e;
}

.form-control {
    border-radius: 6px;
    border: 1px solid #e4e9eb;
    color: #333;
    height: 44px;
    line-height: 44px;
    padding: 0 15px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

textarea.form-control {
    line-height: 18px;
    padding: 15px;
}

.form-control:focus {
    border-color: #00abd2;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 171, 210, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 171, 210, .6);
}

.input-group .form-control {
    height: 46px;
}

.input-group-addon {
    border-radius: 6px;
}

.radio input {
    display: none;
}

.radio {
    float: left;
}

.radio label {
    position: relative;
    height: 44px;
    line-height: 44px;
    border: 1px solid #e4e9eb;
    border-radius: 0;
    background-color: #FFFFFF;
    padding: 0 15px;
    margin-left: 0;
    margin-bottom: 0;
}

.radio:first-child label {
    border-right: none;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.radio:last-child label {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.radio input[type="radio"]:checked + label {
    background-color: #00abd2;
    color: #FFF;
}
/* SELECT */
.select-proxy-display {
    width: 100%;
    height: 44px;
    margin: 0 auto;
    padding: 0 44px 0 0;
    background: #fff;
    border: 1px solid #e4e9eb;
    border-radius: 6px;
    cursor: pointer;
    outline: 0;
    font-weight: 400;
    line-height: 44px;
    position: relative;
    color: #333;
}

.select-proxy-display > .hidden-select {
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: 0;
    right: 0;
    cursor: pointer;
    opacity: 0;
    z-index: 1;
}

.select-proxy-display > .select-value-proxy {
    position: absolute;
    left: 0;
    top: 0;
    right: 42px;
    bottom: 0;
    padding-left: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.select-proxy-display > .icon {
    position: absolute;
    width: 44px;
    top: -1px;
    right: -1px;
    bottom: -1px;
    background-color: #00abd2;
    text-align: center;
    line-height: 44px;
    font-size: 18px;
    color: #FFF;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-left: 1px solid #e4e9eb;
}

.select-proxy-display > .hidden-select[disabled] ~ .icon {
    background-color: #aaa;
}

.select-proxy-display > .hidden-select[disabled] ~ .select-value-proxy {
    background: #e4e9eb;
}
/* TABS */
.nav-tabs > li.disabled {
    pointer-events: none;
}

.nav-tabs > li.disabled > a {
    color: #999 !important;
}

.nav > li > a,
.nav > li > a:focus,
.nav > li > a:hover {
    color: #333 !important;
    border: 0;
    border-bottom: 4px solid transparent;
    background: none;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    color: #333;
    border: 0;
    border-bottom: 4px solid #00abd2;
    background: none;
}
/* Layout Settings */
#rss-layout .layout-holder {
    display: inline-block;
}

#rss-layout-styles input[type="radio"] + label {
    cursor: pointer;
}

#rss-layout-styles input[type="radio"] + label .help-block {
    margin-bottom: 0;
}

#rss-layout-styles input[type="radio"].checked + label .help-block,
#rss-layout-styles input[type="radio"]:checked + label .help-block {
    color: #00abd2;
}

#rss-layout-styles .img-holder {
    position: relative;
    border: 1px solid #00abd2;
}

#rss-layout-styles .screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4) center center;
    opacity: 0;
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
}

#rss-layout-styles label:hover .screen {
    opacity: 0.2;
}

#rss-layout-styles input[type="radio"].checked + label .screen,
#rss-layout-styles input[type="radio"]:checked + label .screen {
    opacity: 1;
    background: rgba(0, 0, 0, 0.4) center center;
}

#rss-feed-settings {
    position: relative;
}

#rss-feed-settings #rss-feed-settings-container {
    display: none;
}

#rss-feed-settings.active #rss-feed-settings-container {
    display: block;
}

.text-danger {
    padding: 5px 15px 0;
    clear: both;
}

#rss-feed-settings.active.checking::after,
#rss-feed-settings.active.failed::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.85);
}

#rss-feed-settings .loader,
#rss-feed-settings.active.checked .loader {
    display: none;
    width: 100%;
    text-align: center;
    padding: 15px;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #E2E2E2;
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 1;
}

#rss-feed-settings.active.checking .loader,
#rss-feed-settings.checking .loader {
    display: block;
}

#rss-feed-settings .rss-fail,
#rss-feed-settings.checking .rss-fail,
#rss-feed-settings.checking.failed .rss-fail {
    display: none;
    width: 100%;
    text-align: center;
    padding: 15px;
    color: #C56161;
    background: rgba(242, 222, 222, 0.9);
    border: 1px solid #C56161;
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 1;
}

#rss-feed-settings.failed .rss-fail {
    display: block;
}

#highlight-styles input[type="radio"] + label {
    opacity: 0.4;
    cursor: pointer;
}

#highlight-styles input[type="radio"].checked + label,
#highlight-styles input[type="radio"]:checked + label {
    opacity: 1.0;
}

#highlight-styles input[type="radio"] + label .fa-check-square-o,
#highlight-styles input[type="radio"].checked + label .fa-square-o,
#highlight-styles input[type="radio"]:checked + label .fa-square-o {
    display: none;
}

#highlight-styles input[type="radio"].checked + label .fa-check-square-o,
#highlight-styles input[type="radio"]:checked + label .fa-check-square-o {
    display: inline-block;
}

#highlight-styles input[type="radio"].checked + label .help-block,
#highlight-styles input[type="radio"]:checked + label .help-block {
    color: #00abd2;
}

#overlay-size-radios input[type="radio"] + label {
    opacity: 0.4;
    cursor: pointer;
}

#overlay-size-radios input[type="radio"].checked + label,
#overlay-size-radios input[type="radio"]:checked + label {
    opacity: 1.0;
}

#overlay-size-radios input[type="radio"] + label .fa-check-square-o,
#overlay-size-radios input[type="radio"].checked + label .fa-square-o,
#overlay-size-radios input[type="radio"]:checked + label .fa-square-o {
    display: none;
}

#overlay-size-radios input[type="radio"].checked + label .fa-check-square-o,
#overlay-size-radios input[type="radio"]:checked + label .fa-check-square-o {
    display: inline-block;
}

#overlay-size-radios input[type="radio"].checked + label .help-block,
#overlay-size-radios input[type="radio"]:checked + label .help-block {
    color: #00abd2;
}

#separate-style-radios input[type="radio"] + label {
    opacity: 0.4;
    cursor: pointer;
}

#separate-style-radios input[type="radio"].checked + label,
#separate-style-radios input[type="radio"]:checked + label {
    opacity: 1.0;
}

#separate-style-radios input[type="radio"] + label .fa-check-square-o,
#separate-style-radios input[type="radio"].checked + label .fa-square-o,
#separate-style-radios input[type="radio"]:checked + label .fa-square-o {
    display: none;
}

#separate-style-radios input[type="radio"].checked + label .fa-check-square-o,
#separate-style-radios input[type="radio"]:checked + label .fa-check-square-o {
    display: inline-block;
}

#separate-style-radios input[type="radio"].checked + label .help-block,
#separate-style-radios input[type="radio"]:checked + label .help-block {
    color: #00abd2;
}
/* Sample overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: none;
    width: 100%;
    height: 100%;
    z-index: 1000;
    -webkit-transform: translate3d(0,0,0);
    pointer-events: none;
}

.overlay.active {
    pointer-events: all;
}

.overlay-screen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 19999;
    background: rgba(0,0,0,0.7);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 0;
    pointer-events: none;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 0.15s;
    -webkit-transition-timing-function: ease-out;
    transition-property: opacity;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;
    pointer-events: none;
}

.overlay.active .overlay-screen {
    opacity: 1;
    pointer-events: all;
}

.overlay-panel {
    position: absolute;
    top: 20%;
    left: 10%;
    right: 10%;
    bottom: 20%;
    background: #fff;
    z-index: 20000;
    padding: 0;
    -webkit-transform: translate3d(0,0,0) scale(0);
    transform: translate3d(0,0,0) scale(0);
    pointer-events: none;
}

.overlay.active .overlay-panel {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    pointer-events: all;
}

.overlay-content {
    left: 10px;
    right: 10px;
    text-align: center;
    font-size: 24px;
    margin-top: -40px;
    color: #555;
    line-height: 1.4;
    position: absolute;
    top: 50%;
}
