.widget-holder {
  padding: 15px;
}

#action {
  overflow: hidden;
}

.add-link {
  margin-top: 10px;
}

.titles {
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 20px;
}

.rss-url-text {
  margin-top: 20px;
}

/* Layout Settings */
#rss-layout .layout-holder {
  display: inline-block;
}

#rss-layout-styles input[type="radio"] + label {
  cursor: pointer;
}

#rss-layout-styles input[type="radio"] + label .help-block {
  font-weight: normal;
  margin-bottom: 0;
}

#rss-layout-styles input[type="radio"].checked + label .help-block,
#rss-layout-styles input[type="radio"]:checked + label .help-block {
  color: #00abd2;
}

#rss-layout-styles .img-holder {
  position: relative;
  border: 1px solid #00abd2;
}

#rss-layout-styles .screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4) center center;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

#rss-layout-styles label:hover .screen {
  opacity: 0.2;
}

#rss-layout-styles input[type="radio"].checked + label .screen,
#rss-layout-styles input[type="radio"]:checked + label .screen {
  opacity: 1;
  background: rgba(0, 0, 0, 0.4) center center;
}

#rss-feed-settings {
  position: relative;
}

#rss-feed-settings #rss-feed-settings-container {
  display: none;
}

#rss-feed-settings.active #rss-feed-settings-container {
  display: block;
}

.text-danger {
  padding: 5px 15px 0;
  clear: both;
}

#rss-feed-settings.active.checking::after,
#rss-feed-settings.active.failed::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.85);
}

#rss-feed-settings .loader,
#rss-feed-settings.active.checked .loader {
  display: none;
  width: 100%;
  text-align: center;
  padding: 15px;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #E2E2E2;
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 1;
}

#rss-feed-settings.active.checking .loader,
#rss-feed-settings.checking .loader {
  display: block;
}

#rss-feed-settings .rss-fail,
#rss-feed-settings.checking .rss-fail,
#rss-feed-settings.checking.failed .rss-fail {
  display: none;
  width: 100%;
  text-align: center;
  padding: 15px;
  color: #C56161;
  background: #f2dede;
  border: 1px solid #C56161;
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 3;
}

#rss-feed-settings.failed .rss-fail {
  display: block;
}

#highlight-styles input[type="radio"] + label {
  opacity: 0.4;
  cursor: pointer;
}

#highlight-styles input[type="radio"].checked + label,
#highlight-styles input[type="radio"]:checked + label {
  opacity: 1.0;
}

#highlight-styles input[type="radio"] + label .fa-check-square-o,
#highlight-styles input[type="radio"].checked + label .fa-square-o,
#highlight-styles input[type="radio"]:checked + label .fa-square-o {
  display: none;
}

#highlight-styles input[type="radio"].checked + label .fa-check-square-o,
#highlight-styles input[type="radio"]:checked + label .fa-check-square-o {
  display: inline-block;
}

#highlight-styles input[type="radio"].checked + label .help-block,
#highlight-styles input[type="radio"]:checked + label .help-block {
  color: #00abd2;
}

#overlay-size-radios input[type="radio"] + label {
  opacity: 0.4;
  cursor: pointer;
}

#overlay-size-radios input[type="radio"].checked + label,
#overlay-size-radios input[type="radio"]:checked + label {
  opacity: 1.0;
}

#overlay-size-radios input[type="radio"] + label .fa-check-square-o,
#overlay-size-radios input[type="radio"].checked + label .fa-square-o,
#overlay-size-radios input[type="radio"]:checked + label .fa-square-o {
  display: none;
}

#overlay-size-radios input[type="radio"].checked + label .fa-check-square-o,
#overlay-size-radios input[type="radio"]:checked + label .fa-check-square-o {
  display: inline-block;
}

#overlay-size-radios input[type="radio"].checked + label .help-block,
#overlay-size-radios input[type="radio"]:checked + label .help-block {
  color: #00abd2;
}

#separate-style-radios input[type="radio"] + label {
  opacity: 0.4;
  cursor: pointer;
}

#separate-style-radios input[type="radio"].checked + label,
#separate-style-radios input[type="radio"]:checked + label {
  opacity: 1.0;
}

#separate-style-radios input[type="radio"] + label .fa-check-square-o,
#separate-style-radios input[type="radio"].checked + label .fa-square-o,
#separate-style-radios input[type="radio"]:checked + label .fa-square-o {
  display: none;
}

#separate-style-radios input[type="radio"].checked + label .fa-check-square-o,
#separate-style-radios input[type="radio"]:checked + label .fa-check-square-o {
  display: inline-block;
}

#separate-style-radios input[type="radio"].checked + label .help-block,
#separate-style-radios input[type="radio"]:checked + label .help-block {
  color: #00abd2;
}

/* Sample overlay */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: none;
  width: 100%;
  height: 100%;
  z-index: 1000;
  -webkit-transform: translate3d(0,0,0);
  pointer-events: none;
}

.overlay.active {
  pointer-events: all;
}

.overlay-screen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 19999;
  background: rgba(0,0,0,0.7);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  opacity: 0;
  pointer-events: none;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.15s;
  -webkit-transition-timing-function: ease-out;
  transition-property: opacity;
  transition-duration: 0.15s;
  transition-timing-function: ease-out;
  pointer-events: none;
}

.overlay.active .overlay-screen {
  opacity: 1;
  pointer-events: all;
}

.overlay-panel {
  position: absolute;
  top: 20%;
  left: 10%;
  right: 10%;
  bottom: 20%;
  background: #fff;
  z-index: 20000;
  padding: 0;
  -webkit-transform: translate3d(0,0,0) scale(0);
  transform: translate3d(0,0,0) scale(0);
  pointer-events: none;
}

.overlay.active .overlay-panel {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  pointer-events: all;
}

.overlay-content {
  left: 10px;
  right: 10px;
  text-align: center;
  font-size: 24px;
  margin-top: -40px;
  color: #555;
  line-height: 1.4;
  position: absolute;
  top: 50%;
}
